$body-font-family = "Gandhi Sans", "Ubuntu", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif
$color-pack = false

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


.page
  @extend .fade-transition

.input-group.input-group--solo
  border-radius 36px
  min-height unset
  background #f5f5f5
  &.input-group--focused
    background: unset
  .input-group__input
    padding 4px 16px
